body{
    background-color: #000000;
  }
  .red{
    color: red;
  }
  .orange{
    color: orange;
  }
  .green{
    color: green;
  }
  .white{
    color: white;
  }
  .border{
    border: 1px solid white;
  }
  .right{
    float: right;
  }