body{
    background-color: #000000;
  }
  .red{
    color: red;
  }
  .orange{
    color: orange;
  }
  .green{
    color: green;
  }
  .white{
    color: white;
  }
  
  
  .right{
    float: right;
  }
 nav{
  color: white;
  
 }
 nav ul li{
  display: inline;
  padding: 26vh;
}

.snowball{
  border: 1vh solid white;
}