body{
    background-color: #000000;
  }
  .red{
    color: red;
  }
  .orange{
    color: orange;
  }
  .green{
    color: green;
  }
  .white{
    color: white;
  }
  
  
  .right{
    float: right;
  }
 nav{
  color: white;
  height: 7vh;
  
 }
 nav ul{
  display: flex;
  
  list-style: none;
  
}

.snowball{
  border: 1vh solid white;
}
header{
  position: sticky;
  top: 1vh;
  background-color: blanchedalmond;
}
/* ul{
  padding:4vh;
} */
nav ul li{
  padding: 1vh 13vw;
}